# Cache & data
__pycache__/
*__pycache__/
**__pycache__/

*.pyc
**.pyc

.DS_Store
*.DS_Store
**.DS_Store

# Distribution
build/
dist/
tseuler.egg-info/

# Editor and Notebook
.vscode
.ipynb_checkpoints/

# Virtual Environments
tseuler_venv/
tseuler_venv_dev/

# Testing files
temptest.py
Dummy Testing.ipynb
debug.log
raw_datasets/
tempbackup/